extends ../layout/layout


block head-title
  - var safeTitle = writing.title ? writing.title : "Writing " + writing._id;
  title #{safeTitle} - #{appName}
  meta(property='og:title' content=safeTitle)
  meta(property='og:description' content=writing.text.slice(0, 140))

block content

  script.
    $(function() {
      cwriting.initView(!{JSON.stringify(writing)});
    });

  if writing.title
    .section.page-title
      h1 #{writing.title}

  .section.writing-text
    .text(class=writing.align) #{writing.text}

  .section.writing-info
    .sub-section
      .cdate !{writing.cdateStr.slice(0,16)}
      .uname
        a(href='/' + encodeURIComponent(writing.user.home)) #{writing.user.name}

    if updatable
      .sub-section
        .commands
          button#update-btn.btn.btn-success.btn-xs Update
          button#del-btn.btn.btn-danger.btn-xs Delete
          button#del-confirm-btn.btn.btn-danger.btn-xs.hide Yes, Delete
